<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Agile2101</title>
	<!-- CSS Import -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
	<!-- End of CSS Import -->
	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/dragging.css" />
    <script src="/script/dragging.js" defer></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<!-- End of Fonts -->
</head>
<body>
	<!-- Implementing a menu into the homepage -->
	<!-- Always shows a header, even in smaller screens. -->
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			<!-- Title -->
			<span class="mdl-layout-title">EMC & Co.</span>
			<!-- Add spacer, to align navigation to the right -->
			<div class="mdl-layout-spacer"></div>
			<!-- Navigation. We hide it in small screens. -->
			<nav class="mdl-navigation mdl-layout--large-screen-only">
			<a class="mdl-navigation__link" href="">Homepage</a>
			<a class="mdl-navigation__link" href="">Past Sprints</a>
			</nav>
		</div>
		</header>
		<div class="mdl-layout__drawer">
		<span class="mdl-layout-title">EMC & Co.</span>
		<nav class="mdl-navigation">
			<a class="mdl-navigation__link" href="">Will be user profile page</a>
			<a class="mdl-navigation__link" href="http://127.0.0.1:5000/update_password">Change password</a>
			<a class="mdl-navigation__link" href="">Will be graphing</a>
		</nav>
		</div>
		<main class="mdl-layout__content">
			<div class="page-content">

	<!-- App Wrapper -->
	<main class="app">
		<!-- Greeting -->
		<section class="greeting">
			<h2 class="title">
				General User: <input type="text" id="name" placeholder="Name here" />
			</h2>
		</section>
		<!-- End of Greeting -->
		
		<!-- New Todo -->
		<section class="create-todo">
			<h3>Task Log</h3>
			<form id="new-todo-form">
				<h4>Add tasks</h4>
				<input 
					type="text" 
					placeholder="Add your task here"
					name="content"
					id="content" />
				
				<h4>Category</h4>
				<div class="options">
					<label>
						<input type="radio" name="category" id="category1" value="ui" /> 
						<span class="bubble ui"></span>
						<div>UI</div>
					</label>
					<label>
						<input type="radio" name="category" id="category2" value="ux" />
						<span class="bubble ux"></span>
						<div>UX</div>
					</label>
					<label>
						<input type="radio" name="category" id="category3" value="front-end" />
						<span class="bubble front-end"></span>
						<div>Front-End</div>
					</label>
					<label>
						<input type="radio" name="category" id="category4" value="back-end" />
						<span class="bubble back-end"></span>
						<div>Back-End</div>
					</label>
					<label>
						<input type="radio" name="category" id="category5" value="api" />
						<span class="bubble api"></span>
						<div>API</div>
					</label>
					<label>
						<input type="radio" name="category" id="category6" value="database" />
						<span class="bubble database"></span>
						<div>Database</div>
					</label>
					<label>
						<input type="radio" name="category" id="category7" value="framework" />
						<span class="bubble framework"></span>
						<div>Framework</div>
					</label>
					<label>
						<input type="radio" name="category" id="category8" value="testing" />
						<span class="bubble testing"></span>
						<div>Testing</div>
					</label>
				</div>

				<input type="submit" value="Add Task" />
			</form>
		</section>
		<!-- End of New Todo -->

		<!-- Todo List -->
		<section class="todo-list">
			<h3>Product Backlog</h3>
			<div class="list" id="todo-list" ></div>
				<div class="list-content" id="individual-tasks" draggable="true"></div>
		</section>
		<!-- End of Todo List -->

	</main>
	<!-- End of App Wrapper -->

	<!-- The Sprint Board, including the three statuses -->
<div class="board">

	<div class="lanes">
	  <div class="swim-lane" id="todo-lane">
	   <div class = "red">
		<h3 class="heading">Sprint: To-Do</h3>

		<p class="tasks" draggable="true">Task 1</p>
		<p class="tasks" draggable="true">Task 2</p>
		<p class="tasks" draggable="true">Task 3</p>
	  </div>
	  </div>

	  <div class="swim-lane">
		  <div class = "yellow">
		<h3 class="heading">Sprint: Doing</h3>

		<p class="tasks" draggable="true">Task 4</p>
		<p class="tasks" draggable="true">Task 5</p>
	  </div>
	  </div>

	  <div class="swim-lane">
		  <div class = "green">
		<h3 class="heading">Sprint: Done</h3>

		<p class="tasks" draggable="true">Task 6</p>
		<p class="tasks" draggable="true">Task 7</p>
		<p class="tasks" draggable="true">Task 8</p>
	  </div>
	  </div>
	</div>
  </div>

<!-- Displaying the database -->
<div class="board">
	<h3>Database Testing</h3>

    <div class="lanes">
        <section class="swim-lane red">
            <h3 class="heading">Sprint: To Do</h3>
            <div class="padded">
                <ul class="tasks-list" id="todo-lane">
                    {% for task in tasks_todo %}
                        <li class="tasks" draggable="true">
                            <div class="item">
                                <div class="details">
                                    <span>{{ task.name }}</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="swim-lane yellow">
            <h3 class="heading">Sprint: Doing</h3>
            <div class="padded">
                <ul class="tasks-list" id="doing-lane">
                    {% for task in tasks_doing %}
                        <li class="tasks" draggable="true">
                            <div class="item">
                                <div class="details">
                                    <span>{{ task.name }}</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="swim-lane green">
            <h3 class="heading">Done</h3>
            <div class="padded">
                <ul class="tasks-list" id="done-lane">
                    {% for task in tasks_done %}
                        <li class="tasks" draggable="true">
                            <div class="item">
                                <div class="details">
                                    <span>{{ task.name }}</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- End of Displaying the database -->

</body>
</main>
</div>>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
</div>
